 :root{
  --paragraph-font-size:28px; 
  --heading-font-weight: bold;
  --section-margin: 50px;
  --section-border: #1E293B 2px solid;
  --section-background: linear-gradient(180deg, #121212, #1A1A1A);
 }
 
 body{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-template-areas:
    "header"
    "About"
    "Education"
    "Experience"
    "Projects"
    "Certifications"
    "Testimonials"
    "Resume"
    "footer";
  background: #0D0D0D;
  min-height: 100vh;
  max-width: 100vw;
}

header {
  grid-area: header;
  background: #0D0D0D;
}

main{
  display: contents;
}

nav{
  justify-content: center;
  background: #0D0D0D;
  border: 2px white;
  display: flex;
  gap: 125px;
}

nav a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: var(--heading-font-weight);
  text-decoration: none;
  border-radius: 5px;
}

nav a:hover {
  color: #1E90FF;
  background-color: rgba(30, 144, 255, 0.15);
}


.heading {
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
}

.About {
  grid-area: About;
}

.about-me-section {
  display: flex;
  margin: var(--section-margin);
  border:var(--section-border);
  background: var(--section-background);
} 

.photo {
  width: 300px; 
  height: 300px; 
  object-fit: cover;
  border-radius: 50%;
  margin: 75px;
}

.about-me  {
  font-size: var(--paragraph-font-size);  
  text-align: justify;
  color: #FFFFFF;
  margin: 75px;
}

.Education {
  grid-area: Education;
}

.education-section {
  margin: var(--section-margin);
  border:var(--section-border);
  background: var(--section-background);
  border-radius: 25px;
}

.education p {
  text-align: center;
  font-size: var(--paragraph-font-size);
  margin: 5px 0;
  color: #FFFFFF;
}

.Experience {
  grid-area: Experience;
}

.Projects{
  grid-area: Projects;
}

.experience-section, .projects-section {
  margin: var(--section-margin);
  border: var(--section-border);
  background: var(--section-background);
  border-radius: 125px;
}

.experience, .project {
  box-sizing: border-box;
}

.experience p, .experience-tasks, .project-description {
  font-size: var(--paragraph-font-size);
}

.experience-position-name, .project-name {
  font-weight: var(--heading-font-weight);
  font-size: 32px;
  color: #FFFFFF;
}

.experience-company {
  font-weight: var(--heading-font-weight);
  font-size: 30px;
  color: #FFFFFF;
}

.experience-location {
  font-weight: var(--heading-font-weight);
  color :#B0B0B0;
}

.experience-tasks, .project-description{
  color: #FFFFFF;
}

.project-location {
  font-weight: var(--heading-font-weight);
  font-size: 30px;
  color: #B0B0B0;
}

.Certifications {
  grid-area: Certifications;
}

.certifications-section{
  box-sizing: border-box;
}

.certification-item{
  /* padding-left: 13px; */
  /* padding-right: 13px; */
  /* display: inline-table; */
  box-sizing: border-box;
}

.certification-photo {
  width: 400px;
  height: 300px; 
  object-fit:fill;
  vertical-align: middle;
  margin-bottom: 10px; 
}

.certification-name{
  font-size: 20px;
  /* width: 400px; */
  text-align: center;
  color: #FFFFFF;
}

.Testimonials {
  grid-area: Testimonials;
}

.testimonials-section {
  margin: 25px;
}

.testimonial-photo {
  /* float: left; */
  /* width: 700px; */
  /* height: 300px; */
  object-fit: fill;
  /* margin-top: 27px; */
  /* margin-left: 25px; */
}

.testimonial-quote {
  font-size: var(--paragraph-font-size);  
  /* margin-left: 750px; */
  /* margin-right: 25px; */
  text-align: justify;
  color: #FFFFFF;
}

.testimonial-item {
  /* display: inline-block; */
  /* width: 100%; */
  box-sizing: border-box;
}

.testimonial-author {
  font-size: var(--paragraph-font-size);
  /* width: 425px; */
  color: #B0B0B0;
}

.Resume {
  grid-area: Resume;
}

.resume-section {
  margin: var(--section-margin);
  text-align: center;
}

.resume-button {
  background-color: #d3d3d3;
  padding: 10px;
  font-size: 23px;
  /* margin-bottom: 50px; */
  border-radius: 10px;
}

.resume-button:hover {
  background-color: #00FF85;
  cursor: pointer;
}

.resume-photo {
  /* width: 1000px; */
  /* height: 1000px; */
  object-fit: contain;
  display: block;
  /* margin: auto; */
}

footer {
  grid-area: footer;
  background: #0D0D0D;
  /* padding: 14px; */
  text-align: center;
}

.social-icon {
  width: 50px;
  height: 50px;
  /* padding: 10px 50px; */
  object-fit: contain;
}

.social-icon:hover {              
  transform: scale(1.25); 
}
