 :root{
    --paragraph-font-size:28px; 
    --heading-font-weight: bold;
 }
 
 body{
    background: linear-gradient(90deg, #22C55E, #2563EB);
    margin: 0;
}

.navbar{
    background: #1E293B;
    padding: 14px;
    text-align: center ;
}

.navbar a {
    color:#E2E8F0;
    font-size: 18px;
    font-weight: var(--heading-font-weight);
    text-decoration: none;
    padding: 10px 59px; 
    border-radius: 5px;
    display: inline-block;
}

.heading {
    text-align: center;
    font-size: 40px;;
}

.about-me-section {
  margin: 50px;
  border: #1E293B 2px solid;
  background: rgba(255,255,255,0.12);
}

.photo {
  float: left;
  width: 200px;
  height: 210px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 75px;
  margin-top: 55px;
}

.about-me  {
  font-size: var(--paragraph-font-size);  
  margin-left: 350px;
  margin-right: 75px;
  text-align: justify;
}

.education-section {
  margin: 50px;
  border: #1E293B 2px solid;
  background: rgba(255,255,255,0.12);
  border-radius: 25px;
}

.education p {
  text-align: center;
  font-size: var(--paragraph-font-size);
  margin: 5px 0;
}

.experience-section {
  margin: 50px;
  border: #1E293B 2px solid;
  background: rgba(255,255,255,0.12);
  border-radius: 125px;
}

.experience, .project {
  margin: 20px 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.experience p, .experience-tasks, .project-description {
  font-size: var(--paragraph-font-size);
}

.experience-position-name, .project-name {
  font-weight: var(--heading-font-weight);
  font-size: 32px;
}

.experience-company, .project-location {
  font-weight: var(--heading-font-weight);
  font-size: 30px;
}

.experience-location {
  font-weight: var(--heading-font-weight);
}

.projects-section {
  margin: 50px;
  border: #1E293B 2px solid;
  background: rgba(255,255,255,0.12);
  border-radius: 125px;
}